# IntelliJ
*.iml
.idea/

# Project files
.env

# Radarr storage
storage/radarr/*

# Sonarr storage
storage/sonarr/*

# Bazarr storage
storage/bazarr/*

# Readarr storage
storage/readarr/*

# Prowlarr storage
storage/prowlarr/*

# Calibre storage
storage/calibre/.cache
storage/calibre/.config/pulse
storage/calibre/.dbus/session-bus/
storage/calibre/.local/*
storage/calibre/.x*
storage/calibre/Calibre Library/
!storage/calibre/Calibre Library/metadata.db

# Transmission storage
storage/transmission/resume/*
storage/transmission/stats.json
storage/transmission/torrents/*

# Heimdall storage
storage/heimdall/log/

# Ombi storage
storage/ombi/.aspnet/
storage/ombi/Logs/

# Emby storage
storage/emby/cache/
storage/emby/logs/
storage/emby/metadata/
storage/emby/data/ScheduledTasks/
storage/emby/data/activitylog.db
storage/emby/data/activitylog.db-shm
storage/emby/data/activitylog.db-wal
storage/emby/data/authentication.db-shm
storage/emby/data/authentication.db-wal
storage/emby/data/displaypreferences.db-shm
storage/emby/data/displaypreferences.db-wal
storage/emby/data/library.db
storage/emby/data/library.db-shm
storage/emby/data/library.db-wal

# Plex storage
storage/plex/Library/Application Support/Plex Media Server/Cache/
storage/plex/Library/Application Support/Plex Media Server/Logs/
storage/plex/Library/Application Support/Plex Media Server/Media/localhost/
storage/plex/Library/Application Support/Plex Media Server/Metadata/
storage/plex/Library/Application Support/Plex Media Server/plexmediaserver.pid
storage/plex/Library/Application Support/Plex Media Server/Plug-in Support/Databases/com.plexapp.plugins.library.*
