# IntelliJ
*.iml
.idea/

# Radarr storage (minus config)
storage/radarr/*
!storage/radarr/config.xml

# Sonarr storage (minus config)
storage/sonarr/*
!storage/sonarr/config.xml

# Jackett storage
storage/jackett/Jackett/log.txt
storage/jackett/Jackett/updater.txt

# Bazarr storage
storage/bazarr/config/throttled_providers.dat
storage/bazarr/log/*
storage/bazarr/db/*

# Transmission storage
storage/transmission/resume/*
storage/transmission/torrents/*
storage/transmission/stats.json