<?xml version="1.0"?>
<UserConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PlayDefaultAudioTrack>true</PlayDefaultAudioTrack>
  <DisplayMissingEpisodes>false</DisplayMissingEpisodes>
  <SubtitleMode>Default</SubtitleMode>
  <EnableLocalPassword>false</EnableLocalPassword>
  <OrderedViews />
  <LatestItemsExcludes />
  <MyMediaExcludes />
  <HidePlayedInLatest>true</HidePlayedInLatest>
  <RememberAudioSelections>true</RememberAudioSelections>
  <RememberSubtitleSelections>true</RememberSubtitleSelections>
  <EnableNextEpisodeAutoPlay>true</EnableNextEpisodeAutoPlay>
</UserConfiguration>